ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #e3f2fd;
	}

	li {
	  float: left;
	}

	li a {
	  display: block;
	  color: black;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	a:hover {
   background:transparent;
    color:#A9A9A9;
    text-decoration:none;
  }
	#worldid h3{
		text-shadow:1px 1px 3px #FF1493;
	}
	#sympid h1{
		text-shadow:1px 1px 3px #000000;
	}
	#preventid h1{
		text-shadow:1px 1px 3px #000000;
		font-style:italic;
	}
	.img-fluid:hover{
		animation: shake 0.5s;
        animation-iteration-count: infinite;
		box-shadow:1px 1px 5px #000000;
	}
	@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}